.form-border{
    width: 50%;
    /* border: 1px darkseagreen solid; */
    padding: 1rem;
    background-color: white;
    height: fit-content;
    margin: 1rem;
    box-shadow:1px darkseagreen  ;
    background-color: azure;
    box-shadow:1px 1px 1px 3px #dffbdf;;
}
.form-border h3{
    font-size: 2rem;
    color: darkseagreen;
}
.form-border p{
    border: 1px black dashed;
    background-color: #dbf2db;
    padding: .5rem ;
    font-size: 1.2rem;
}

.form-border table tr .firstcolumn{
    background-color: #dbf2db;
    width: 13rem;
    text-align: end;
}
#nameUser,#Mobile{
    width: 18rem;
}
#Email,#AlternateE-MailID{
    width: 25rem;
}
#countryCode{
    width: 5rem;
}
#cityCode{
    width: 4rem;
}
textarea{
    height: 4rem;
  width: 20rem;
}
select{
    width: 20.5rem;
}
#password,#Re-password{
    width: 14rem;
}
.check-box{
    text-align: center;
    margin: 1rem;
}
.check-box .button1{
    width: 6rem;
    margin: .5rem;
    background-color: white;
    border: 1px solid blue;
    border-radius: .25rem;
    cursor: pointer;
   
}
.check-box .button2{
    width: 3rem;
    background-color: white;
    border: 1px solid blue;
    border-radius: .25rem;
    cursor: pointer;
}
